.pad-100 {
    padding: 100px !important;
}

.bg-apps {
    background: url('/static/images/bg/apps.jpg') no-repeat center;
    background-size: cover;
}

.bg-auth {
    background: url('/static/images/bg/about.jpg') no-repeat center;
    background-size: cover;
}
