.pad-100 {
    padding: 100px !important;
}

.bg-apps {
    background: url('/static/images/bg/apps.jpg') no-repeat center;
    background-size: cover;
}

.bg-auth {
    background: url('/static/images/bg/about.jpg') no-repeat center;
    background-size: cover;
}

.bg-counter {
    background: url('/static/images/bg/app-counter.jpg') no-repeat center;
}

.rounded-img {
    border-radius: 15px;
}

.available-table {
    background-color: green;
}

.selected-table {
    background-color: rgb(27, 164, 206);
}

.reserved {
    background-color: red;
}

.pointer-cursor {
    cursor: pointer !important;
}

.font-xs {
    font-size: 0.75rem;
    line-height: 1.25;
}
