{% extends 'layout.html' %}

{% block title %}
<title>کتابخانه من</title>
{% endblock %}

{% block content %}
    <!-- Hero Start -->
    <section class="bg-half-170 pb-lg-0 pb-md-4 d-table w-100 bg-apps">
        <div class="bg-overlay bg-gradient-primary opacity-9"></div>
        <div class="container">
            <div class="row position-relative" style="z-index: 1;">
                <div class="col-md-7 col-12 mt-lg-5">
                    <div class="title-heading">
                        <h1 class="heading text-white title-dark mb-4">لذت استفاده از کتابخانه</h1>
                        <p class="para-desc text-white-50">کافیست با عضویت در کتابخانه از خدمات ما لذت ببرید.</p>
                        <div class="mt-4 pt-2">
                            <a class="btn btn-primary" href="javascript:void(0)">عضویت در کتابخانه</a>
                        </div>
                    </div>
                </div><!--end col-->

                <div class="col-md-5 col-12 mt-4 pt-2 mt-sm-0 pt-sm-0">
                    <div class="shape-before">
                        <div class="carousel-cell"><img alt="" class="img-fluid rounded-img" src="{{ url_for('static', filename='images/app/hero.png') }}"/></div>
                    </div>
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end container-->
    </section><!--end section-->
    <div class="position-relative">
        <div class="shape overflow-hidden text-white">
            <svg fill="none" viewBox="0 0 2880 250" xmlns="http://www.w3.org/2000/svg">
                <path d="M720 125L2160 0H2880V250H0V125H720Z" fill="currentColor"></path>
            </svg>
        </div>
    </div>
    <!-- Hero End -->
    <section class="section overflow-hidden pt-5 pb-0">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6">
                    <div class="card p-4 rounded features features-classic feature-primary">
                        <div class="fea-icon rounded bg-light shadow icon">
                            <i class="uil uil-airplay mb-0 text-primary"></i>
                        </div>
                        <div class="content mt-4">
                            <a class="title h5 text-dark" href="page-single-service.html">رزرو میز مطالعه</a>

                            <p class="text-muted mt-3">دیگر لازم نیست زمان خود را بعلت پر بودن میزهای مطالعه از دست بدهید، از قبل از وضعیت میز های مطالعه با خبر شوید یا اقدام به رزرو کنید.</p>
                        </div>

                        <a href="page-single-service.html">
                            <span class="text-dark">رزرو <i class="uil uil-arrow-left"></i></span>
                        </a>
                    </div>
                </div><!--end col-->

                <div class="col-lg-4 col-md-6 mt-4 pt-2 mt-sm-0 pt-sm-0">
                    <div class="card p-4 rounded features features-classic feature-primary">
                        <div class="fea-icon rounded bg-light shadow icon">
                            <i class="uil uil-atom mb-0 text-primary"></i>
                        </div>

                        <div class="content mt-4">
                            <a class="title h5 text-dark" href="page-single-service.html">ثبت نیاز به کتاب</a>

                            <p class="text-muted mt-3">اگر کتاب مورد نظرتان را در کتابخانه پیدا نکردید، می‌توانید نیاز خود را ثبت کنید تا ما برای تهیه آن اقدام کنیم.</p>
                        </div>

                        <a href="page-single-service.html">
                            <span class="text-dark">عملیات ثبت <i class="uil uil-arrow-left"></i></span>
                        </a>
                    </div>
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end container-->
    </section>
    <section class="section pt-5 pb-0">
        <div class="container mt-5">
            <div class="row align-items-center">
                <div class="col-lg-5 col-md-5 col-12">
                    <img alt="" class="img-fluid" src="{{ url_for('static', filename='images/app/donate.png') }}"/>
                </div><!--end col-->

                <div class="col-lg-7 col-md-7 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                    <div class="section-title ms-lg-5">
                        <h4 class="title mb-4">کتاب های بلااستفاده شما لبخند آفرین دیگران است.</h4>
                        <p class="text-muted para-desc mb-0">کافیست در فرآیند اهدا کتاب در کتابخانه شرکت کنید تا دانش را گسترش دهید.</p>
                        <div class="my-4">
                            <a class="btn btn-lg btn-dark mt-2 me-2" href="javascript:void(0)"><i class="uil uil-flower"></i> همین حالا شروع کنید!</a>
                        </div>
                    </div>
                </div><!--end col-->
            </div><!--end row-->
        </div>
    </section>
    <section class="section bg-counter pt-5">
        <div class="bg-overlay bg-gradient-primary opacity-9"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-6">
                    <div class="counter-box position-relative text-center">
                        <h2 class="mb-0 display-1 fw-bold title-dark text-white mt-2 opacity-3">
                            <span class="counter-value" data-target="425">0</span>
                        </h2>
                        <span class="counter-head fw-semibold title-dark text-white position-absolute top-50 start-50 translate-middle">
                            کتاب‌های اسکن شده
                        </span>
                    </div>
                </div>
    
                <div class="col-md-3 col-6">
                    <div class="counter-box position-relative text-center">
                        <h2 class="mb-0 display-1 fw-bold title-dark text-white mt-2 opacity-3">
                            <span class="counter-value" data-target="350">0</span>
                        </h2>
                        <span class="counter-head fw-semibold title-dark text-white position-absolute top-50 start-50 translate-middle">
                            کاربران ثبت‌نام‌شده
                        </span>
                    </div>
                </div>
    
                <div class="col-md-3 col-6">
                    <div class="counter-box position-relative text-center">
                        <h2 class="mb-0 display-1 fw-bold title-dark text-white mt-2 opacity-3">
                            <span class="counter-value" data-target="120">0</span>
                        </h2>
                        <span class="counter-head fw-semibold title-dark text-white position-absolute top-50 start-50 translate-middle">
                            دفعات استفاده از سیستم
                        </span>
                    </div>
                </div>
    
                <div class="col-md-3 col-6">
                    <div class="counter-box position-relative text-center">
                        <h2 class="mb-0 display-1 fw-bold title-dark text-white mt-2 opacity-3">
                            <span class="counter-value" data-target="111">0</span>
                        </h2>
                        <span class="counter-head fw-semibold title-dark text-white position-absolute top-50 start-50 translate-middle">
                            تعداد کتاب اهدا شده
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="section pt-1">
        <div class="container mt-100 mt-60">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="section-title mb-4 pb-2 text-center">
                        <h4 class="title mb-3">سوالات متداول</h4>
                        <p class="text-muted mx-auto para-desc mb-0">
                            سوالات متداول درباره نحوه عملکرد کتابخانه هوشمند را در این بخش مشاهده کنید.
                        </p>
                    </div>
                </div>
            </div>
    
            <div class="row justify-content-center">
                <div class="col-lg-10 mt-4 pt-2">
                    <div class="accordion" id="faqLibrary">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="accordion-item rounded border-0 shadow">
                                    <h2 class="accordion-header" id="faqOne">
                                        <button class="accordion-button border-0 bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            چگونه کتاب‌ها را اسکن کنم؟
                                        </button>
                                    </h2>
                                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="faqOne" data-bs-parent="#faqLibrary">
                                        <div class="accordion-body text-muted bg-white">
                                            برای اسکن کتاب، کافیست بارکد آن را در مقابل اسکنر قرار دهید. سیستم به‌طور خودکار اطلاعات کتاب را ثبت می‌کند.
                                        </div>
                                    </div>
                                </div>
    
                                <div class="accordion-item rounded border-0 shadow mt-3">
                                    <h2 class="accordion-header" id="faqTwo">
                                        <button class="accordion-button border-0 bg-white collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            آیا می‌توانم بدون ثبت‌نام از سیستم استفاده کنم؟
                                        </button>
                                    </h2>
                                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="faqTwo" data-bs-parent="#faqLibrary">
                                        <div class="accordion-body text-muted bg-white">
                                            خیر برای دسترسی به امکانات پیشرفته مانند رزرو کتاب، نیاز به ثبت‌نام دارید.
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                            <div class="col-md-6">
                                <div class="accordion-item rounded border-0 shadow mt-3 mt-sm-0">
                                    <h2 class="accordion-header" id="faqThree">
                                        <button class="accordion-button border-0 bg-white collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            چگونه از قفل هوشمند استفاده کنم؟
                                        </button>
                                    </h2>
                                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="faqThree" data-bs-parent="#faqLibrary">
                                        <div class="accordion-body text-muted bg-white">
                                            با وارد کردن کد عبور می‌توانید قفل را باز کنید.
                                        </div>
                                    </div>
                                </div>
    
                                <div class="accordion-item rounded border-0 shadow mt-3">
                                    <h2 class="accordion-header" id="faqFour">
                                        <button class="accordion-button border-0 bg-white collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                            چه نوع کتاب‌هایی در سیستم ثبت می‌شوند؟
                                        </button>
                                    </h2>
                                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="faqFour" data-bs-parent="#faqLibrary">
                                        <div class="accordion-body text-muted bg-white">
                                            کتاب‌های فیزیکی با بارکد رسمی در سیستم ثبت می‌شوند. در آینده، امکان اضافه کردن منابع دیجیتال نیز فراهم خواهد شد.
                                        </div>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
{% endblock %}