{% extends 'layout.html' %}

{% block title %}
<title>کتابخانه من</title>
{% endblock %}

{% block content %}
    <!-- Hero Start -->
    <section class="bg-half-170 pb-lg-0 pb-md-4 d-table w-100 bg-apps">
        <div class="bg-overlay bg-gradient-primary opacity-9"></div>
        <div class="container">
            <div class="row position-relative" style="z-index: 1;">
                <div class="col-md-7 col-12 mt-lg-5">
                    <div class="title-heading">
                        <h1 class="heading text-white title-dark mb-4">برنامه ضروری موبایل <br/> برای فضاهای کاری</h1>
                        <p class="para-desc text-white-50">کاوش کنید و درباره همه چیز، از یادگیری ماشینی و پرداخت‌های جهانی گرفته تا مقیاس‌بندی تیم خود، اطلاعات بیشتری کسب کنید.</p>
                        <div class="mt-4 pt-2">
                            <a class="btn btn-primary" href="javascript:void(0)">شروع آزمایشی رایگان</a>
                        </div>
                    </div>
                </div><!--end col-->

                <div class="col-md-5 col-12 mt-4 pt-2 mt-sm-0 pt-sm-0">
                    <div class="shape-before">
                        <div class="carousel-cell"><img alt="" class="img-fluid" src="{{ url_for('static', filename='images/app/hero.png') }}"/></div>
                    </div>
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end container-->
    </section><!--end section-->
    <div class="position-relative">
        <div class="shape overflow-hidden text-white">
            <svg fill="none" viewBox="0 0 2880 250" xmlns="http://www.w3.org/2000/svg">
                <path d="M720 125L2160 0H2880V250H0V125H720Z" fill="currentColor"></path>
            </svg>
        </div>
    </div>
    <!-- Hero End -->
{% endblock %}