<!doctype html>
<html dir="rtl" lang="fa">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        {% block title %}
        {% endblock %}
        <meta name="description" content="Smart library by Farzan">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta content="v1.0.0" name="Version"/>
        <!-- favicon -->
        <link href="{{ url_for('static', filename='images/favicon.ico') }}" rel="shortcut icon"/>
        <!-- Bootstrap -->
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ url_for('static', filename='css/tobii.min.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ url_for('static', filename='css/materialdesignicons.min.css') }}" rel="stylesheet" type="text/css"/>
        <link href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" rel="stylesheet"/>
        <!-- Main Css -->
        <link href="{{ url_for('static', filename='css/style.min.css') }}" id="theme-opt" rel="stylesheet" type="text/css"/>
        <link href="{{ url_for('static', filename='css/main.css') }}" id="theme-opt" rel="stylesheet" type="text/css"/>

        <!--===== Custom Font css =====-->
        <link href="{{ url_for('static', filename='css/custom-fonts.css') }}" rel="stylesheet"/>
        {% block style %}{% endblock %}
    </head>
    <body>
        <!-- Navbar STart -->
        <header class="defaultscroll sticky" id="topnav">
            <div class="container">
                <!-- Logo container-->
                <a class="logo" href="{{ url_for('home') }}">
                    <span class="logo-light-mode">
                        <img alt="" class="l-dark" src="{{ url_for('static', filename='images/logo-dark.png') }}"/>
                        <img alt="" class="l-light" src="{{ url_for('static', filename='images/logo-light.png') }}"/>
                    </span>
                    <img alt="" class="logo-dark-mode" src="{{ url_for('static', filename='images/logo-light.png') }}"/>
                </a>
                <!-- End Logo container-->
                <div class="menu-extras">
                    <div class="menu-item">
                        <!-- Mobile menu toggle-->
                        <a class="navbar-toggle" id="isToggle" onclick="toggleMenu()">
                            <div class="lines">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </a>
                        <!-- End mobile menu toggle-->
                    </div>
                </div>
                <div id="navigation">
                    <!-- Navigation Menu-->
                    <ul class="navigation-menu nav-left nav-light">
                        <li><a class="sub-menu-item" href="{{ url_for('home') }}"> خانه </a></li>
                        <li><a class="sub-menu-item" href="page-contact.html"> جستجو کتاب </a></li>
                        {% if not user_info.is_staff %}
                        <li><a class="sub-menu-item" href="page-contact.html"> عضویت در کتابخانه </a></li>
                        <li><a class="sub-menu-item" href="page-contact.html"> رزرو میز مطالعه </a></li>
                        <li><a class="sub-menu-item" href="page-contact.html"> ثبت درخواست کتاب </a></li>
                        <li><a class="sub-menu-item" href="page-contact.html"> اهدا کتاب </a></li>
                        {% endif %}
                        {% if user_info.is_staff %}
                        <li><a class="sub-menu-item" href="page-contact.html"> مشاهده لیست اهدا کتاب </a></li>
                        <li><a class="sub-menu-item" href="page-contact.html"> مشاهده لیست نیازمندی ها </a></li>
                        {% endif %}
                        <li><a class="sub-menu-item" href="{{ url_for('contact') }}"> پشتیبانی </a></li>
                        <li><a class="sub-menu-item" href="{{ url_for('logout') }}"> خروج </a></li>
                    </ul><!--end navigation menu-->
                </div><!--end navigation-->
            </div><!--end container-->
        </header><!--end header-->
        <!-- Navbar End -->

        <!-- main-area -->
        <main>
            {% block content %}{% endblock %}
        </main>
        <!-- main-area-end -->

        <!-- Footer Start -->
        <footer class="footer bg-footer">            
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="footer-py-60">
                            <div class="row">
                                <div class="col-lg-4 col-12">
                                    <a class="logo-footer" href="#">
                                        <img alt="" height="26" src="{{ url_for('static', filename='images/logo-light.png') }}"/>
                                    </a>
                                    <p class="mt-4">با استارتی شروع به کار کنید که می تواند همه چیز را برای شما فراهم کند.</p>
                                </div><!--end col-->
                                <div class="col-lg-8 col-12">
                                    <div class="row">
                                        <div class="col-md-4 col-12 mt-4 mt-lg-0 pt-2 pt-lg-0">
                                            <h6 class="footer-head">با ما همراه باشید</h6>
                                            <ul class="list-unstyled footer-list mt-4">
                                                <li><a class="text-foot" href="{{ url_for('contact') }}"><i class="uil uil-angle-left-b me-1"></i> درباره ما</a></li>
                                                <li><a class="text-foot" href="{{ url_for('contact') }}"><i class="uil uil-angle-left-b me-1"></i> تماس با ما </a></li>
                                                <li><a class="text-foot" href="https://www.nlai.ir/" target="_blank"><i class="uil uil-angle-left-b me-1"></i> کتابخانه ملی</a></li>
                                                <li><a class="text-foot" href="https://isti.ir/" target="_blank"><i class="uil uil-angle-left-b me-1"></i> معاونت علمی ریاست جمهوری </a></li>
                                            </ul>
                                        </div><!--end col-->
                                    </div>
                                </div>
                            </div><!--end row-->
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->

            <div class="footer-py-30 footer-bar bg-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="text-center">
                                <p class="mb-0 text-muted">1403 ©  طراحی با <i class="mdi mdi-heart text-danger"></i> ارائه شده توسط <a class="text-reset" href="#" target="_blank">دبیرستان دولتی دخترانه فرزان</a></p>
                            </div>
                        </div><!--end col-->
                    </div><!--end row-->
                </div><!--end container-->
            </div>
        </footer><!--end footer-->
        <!-- Back to top -->
        <a class="back-to-top rounded-pill" href="javascript:void(0)" id="back-to-top" onclick="topFunction()"><i class="mdi mdi-arrow-up"></i></a>
        <!-- Back to top -->
        <!-- End -->
        <!-- javascript -->
        <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/contact.js') }}"></script>
        <script src="{{ url_for('static', filename='js/tobii.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/feather.min.js') }}"></script>
        <!-- Main Js -->
        <script src="{{ url_for('static', filename='js/plugins.init.js') }}"></script><!--Note: All init js like tiny slider, counter, countdown, maintenance, lightbox, gallery, swiper slider, aos animation etc.-->
        <script src="{{ url_for('static', filename='js/app.js') }}"></script><!--Note: All important javascript like page loader, menu, sticky menu, menu-toggler, one page menu etc. -->
        {% block js %}{% endblock %}
    </body>
</html>