{% extends 'layout.html' %}

{% block title %}
<title>مشاهده کتاب های درخواستی</title>
{% endblock %}

{% block content %}
    <!-- Hero Start -->
    <section class="bg-half-170 d-table w-100" style="background: url('static/images/bg/about.jpg') center;">
        <div class="bg-overlay bg-gradient-overlay"></div>
        <div class="container">
            <div class="row mt-5 justify-content-center">
                <div class="col-12">
                    <div class="title-heading text-center">
                        <small class="text-white-50 mb-1 fw-medium text-uppercase mx-auto">آگاهی را گسترش دهید با</small>
                        <h5 class="heading fw-semibold mb-0 page-heading text-white title-dark">کتاب های درخواستی</h5>
                    </div>
                </div><!--end col-->
            </div><!--end row-->

            <div class="position-middle-bottom">
                <nav aria-label="breadcrumb" class="d-block">
                    <ul class="breadcrumb breadcrumb-muted mb-0 p-0">
                        <li class="breadcrumb-item"><a href="{{ url_for('home') }}"> خانه </a></li>
                        <li aria-current="page" class="breadcrumb-item active">  کتاب های درخواستی </li>
                    </ul>
                </nav>
            </div>
        </div><!--end container-->
    </section><!--end section-->
    <!-- Hero End -->
    <!-- Forms End -->
    <div class="col pt-2 picture-item">
        <div class="component-wrapper rounded shadow">
            <div class="p-4 border-bottom text-center">
                <h4 class="title mb-0">کتاب های درخواست شده</h4>
            </div>
            <div class="table-responsive p-4">
                <table class="table table-bordered table-striped table-hover text-center align-middle">
                    <thead class="table-dark">
                        <tr>
                            <th>نام کتاب</th>
                            <th>نویسنده</th>
                            <th>ناشر</th>
                            <th>درخواست کننده</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for book in books %}
                        <tr>
                            <td>{{ book.book_name }}</td>
                            <td>{{ book.author }}</td>
                            <td>{{ book.publisher }}</td>
                            <td>{{ book.full_name }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    
{% endblock %}