<!DOCTYPE html>
<html dir="rtl" lang="fa">
    <head>
        <meta charset="utf-8"/>
        <title>ثبت‌نام</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
        <meta content="v1.0.0" name="Version"/>
        <!-- favicon -->
        <link href="{{ url_for('static', filename='images/favicon.ico') }}" rel="shortcut icon"/>
        <!-- Bootstrap -->
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ url_for('static', filename='css/tobii.min.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ url_for('static', filename='css/materialdesignicons.min.css') }}" rel="stylesheet" type="text/css"/>
        <link href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" rel="stylesheet"/>
        <!-- Main Css -->
        <link href="{{ url_for('static', filename='css/style.min.css') }}" id="theme-opt" rel="stylesheet" type="text/css"/>
        <link href="{{ url_for('static', filename='css/main.css') }}" id="theme-opt" rel="stylesheet" type="text/css"/>

        <!--===== Custom Font css =====-->
        <link href="{{ url_for('static', filename='css/custom-fonts.css') }}" rel="stylesheet"/>
    </head>
    <body>
        <!-- Hero Start -->
        <section class="bg-half-170 d-table w-100 pad-100 bg-auth">
            <div class="bg-overlay bg-gradient-overlay"></div>
            <div class="container">
                <div class="row mt-5 justify-content-center">
                    <div class="col-12">
                        <div class="title-heading text-center">
                            <h5 class="heading fw-semibold mb-0 page-heading text-white title-dark">ثبت‌نام</h5>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
        </section><!--end section-->
        <!-- Hero End -->
        <!-- Start -->
        <section class="section py-3">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="section-title mb-2 pb-2 text-center">
                            <h4 class="title mb-1">لذت کتاب خوانی</h4>
                        </div>
                        <div class="custom-form">
                            {% with messages = get_flashed_messages(with_categories=True) %}
                                {% if messages %}
                                    {% for category, message in messages %}
                                        <div class="alert alert-{{ category }}" role="alert">
                                            {{ message }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}
                            <form action="{{ url_for('register') }}" method="POST">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label class="form-label">نام<span class="text-danger">*</span></label>
                                            <input class="form-control" id="fname" name="fname" placeholder="نام" type="text"/>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label class="form-label"><span class="text-danger">*</span>نام خانوادگی</label>
                                            <input class="form-control" id="lname" name="lname" placeholder="نام خانوادگی" type="text"/>
                                        </div> 
                                    </div><!--end col-->
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <label class="form-label">شماره تماس</label>
                                            <input class="form-control" id="phone" name="phone" placeholder="09121111111 بعنوان مثال" type="text"/>
                                        </div>
                                    </div><!--end col-->
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label class="form-label">رمز عبور<span class="text-danger">*</span></label>
                                            <input class="form-control" id="password" name="password" placeholder="رمز عبور" type="password"/>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label class="form-label"><span class="text-danger">*</span>تکرار رمز عبور</label>
                                            <input class="form-control" id="confirm_password" name="confirm_password" placeholder="تکرار رمز عبور" type="password"/>
                                        </div> 
                                    </div><!--end col-->
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="d-grid">
                                            <button class="btn btn-primary" id="submit" name="submit" type="submit">ثبت‌نام</button>
                                            <p class="mt-2">اکانت دارید؟<a href="{{ url_for('login') }}"> وارد شوید!</a></p>
                                        </div>
                                    </div><!--end col-->
                                </div><!--end row-->
                            </form>
                        </div><!--end custom-form-->
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
        </section><!--end section-->
        <!-- End -->

        <!-- Footer Start -->
        <footer class="footer bg-footer">            
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="footer-py-60">
                            <div class="row">
                                <div class="col-lg-4 col-12">
                                    <a class="logo-footer" href="#">
                                        <img alt="" height="26" src="{{ url_for('static', filename='images/logo-light.png') }}"/>
                                    </a>
                                    <p class="mt-4">با استارتی شروع به کار کنید که می تواند همه چیز را برای شما فراهم کند.</p>
                                    <ul class="list-unstyled social-icon foot-social-icon mb-0 mt-4">
                                        
                                <li class="list-inline-item"><a class="rounded" href="https://dribbble.com/shreethemes" target="_blank"><i class="uil uil-dribbble align-middle" title="Dribbble"></i></a></li>
                                <li class="list-inline-item"><a class="rounded" href="https://www.behance.net/shreethemes" target="_blank"><i class="uil uil-behance" title="بیهنس"></i></a></li>
                                <li class="list-inline-item"><a class="rounded" href="http://linkedin.com/company/shreethemes" target="_blank"><i class="uil uil-linkedin" title="لینکدین"></i></a></li>
                                <li class="list-inline-item"><a class="rounded" href="https://www.facebook.com/shreethemes" target="_blank"><i class="uil uil-facebook-f align-middle" title="facebook"></i></a></li>
                                <li class="list-inline-item"><a class="rounded" href="https://www.instagram.com/shreethemes/" target="_blank"><i class="uil uil-instagram align-middle" title="اینستاگرام"></i></a></li>
                                <li class="list-inline-item"><a class="rounded" href="https://twitter.com/shreethemes" target="_blank"><i class="uil uil-twitter align-middle" title="توییتر"></i></a></li>
                                
                                
                                <li class="list-inline-item"><a class="rounded" href="#" target="_blank"><i class="uil uil-file align-middle" title="خرید از راست‌چبن"></i></a></li>
                                    </ul><!--end icon-->
                                </div><!--end col-->

                                <div class="col-lg-8 col-12">
                                    <div class="row">
                                        <div class="col-md-4 col-12 mt-4 mt-lg-0 pt-2 pt-lg-0">
                                            <h6 class="footer-head">لینک های مفید</h6>
                                            <ul class="list-unstyled footer-list mt-4">
                                                <li><a class="text-foot" href="index.html"><i class="uil uil-angle-left-b me-1"></i> شرایط استفاده</a></li>
                                                <li><a class="text-foot" href="index.html"><i class="uil uil-angle-left-b me-1"></i> حریم خصوصی</a></li>
                                                <li><a class="text-foot" href="page-contact.html"><i class="uil uil-angle-left-b me-1"></i> تماس با ما </a></li>
                                                <li><a class="text-foot" href="index.html"><i class="uil uil-angle-left-b me-1"></i> تغییرات</a></li>
                                                <li><a class="text-foot" href="page-elements.html"><i class="uil uil-angle-left-b me-1"></i> کامپوننت </a></li>
                                            </ul>
                                        </div><!--end col-->
                                    </div>
                                </div>
                            </div><!--end row-->
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->

            <div class="footer-py-30 footer-bar bg-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="text-center">
                                <p class="mb-0 text-muted">1403 ©  طراحی با <i class="mdi mdi-heart text-danger"></i> ارائه شده توسط <a class="text-reset" href="#" target="_blank">دبیرستان دولتی دخترانه فرزان</a></p>
                            </div>
                        </div><!--end col-->
                    </div><!--end row-->
                </div><!--end container-->
            </div>
        </footer><!--end footer-->
        <!-- End -->
        <!-- javascript -->
        <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/contact.js') }}"></script>
        <script src="{{ url_for('static', filename='js/tobii.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/feather.min.js') }}"></script>
        <!-- Main Js -->
        <script src="{{ url_for('static', filename='js/plugins.init.js') }}"></script><!--Note: All init js like tiny slider, counter, countdown, maintenance, lightbox, gallery, swiper slider, aos animation etc.-->
        <script src="{{ url_for('static', filename='js/app.js') }}"></script><!--Note: All important javascript like page loader, menu, sticky menu, menu-toggler, one page menu etc. -->
    </body>
</html>