{% extends 'layout.html' %}

{% block title %}
<title>جستجو</title>
{% endblock %}

{% block content %}
    <!-- Hero Start -->
    <section class="bg-half-170 d-table w-100" style="background: url('static/images/bg/about.jpg') center;">
        <div class="bg-overlay bg-gradient-overlay"></div>
        <div class="container">
            <div class="row mt-5 justify-content-center">
                <div class="col-12">
                    <div class="title-heading text-center">
                        <small class="text-white-50 mb-1 fw-medium text-uppercase mx-auto">راحت بگرد و پیدا کن</small>
                        <h5 class="heading fw-semibold mb-0 page-heading text-white title-dark">جستجو کتاب</h5>
                    </div>
                </div><!--end col-->
            </div><!--end row-->

            <div class="position-middle-bottom">
                <nav aria-label="breadcrumb" class="d-block">
                    <ul class="breadcrumb breadcrumb-muted mb-0 p-0">
                        <li class="breadcrumb-item"><a href="{{ url_for('home') }}"> خانه </a></li>
                        <li aria-current="page" class="breadcrumb-item active">  جستجو </li>
                    </ul>
                </nav>
            </div>
        </div><!--end container-->
    </section><!--end section-->
    <!-- Hero End -->

        <!-- Forms Start -->
    <div class="col pt-2 picture-item">
        <div class="component-wrapper rounded shadow">
            <div class="p-4 border-bottom text-center">
                <h4 class="title mb-0"> جستجو بر اساس نام کتاب، نویسنده یا ناشر </h4>
            </div>

            <div class="p-4">
                {% with messages = get_flashed_messages(with_categories=True) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <form action="{{ url_for('search') }}" method="POST" novalidate>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label class="form-label">نام کتاب</label>
                                <input class="form-control" id="name" name="name" placeholder="نام کتاب" type="text"/>
                            </div>
                        </div><!--end col-->
                        <span class="mb-2">یا</span>
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label class="form-label">نویسنده</label>
                                <input class="form-control" id="writer" name="writer" placeholder="نویسنده" type="text"/>
                            </div> 
                        </div><!--end col-->
                        <span class="mb-2">یا</span>
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label class="form-label">ناشر</label>
                                <input class="form-control" id="publisher" name="publisher" placeholder="ناشر" type="text"/>
                            </div> 
                        </div>
                    </div><!--end row-->
                    <div class="row">
                        <div class="col-sm-12">
                            <input class="btn btn-primary" id="submit" name="send" type="submit" value="جستجو"/>
                        </div><!--end col-->
                    </div><!--end row-->
                </form><!--end form-->
            </div>
        </div>
    </div><!--end col-->
    <!-- Forms End -->
    <div class="col pt-2 picture-item">
        <div class="component-wrapper rounded shadow">
            <div class="p-4 border-bottom text-center">
                <h4 class="title mb-0">کتاب های موجود</h4>
            </div>
            <div class="table-responsive p-4">
                <table class="table table-bordered table-striped table-hover text-center align-middle">
                    <thead class="table-dark">
                        <tr>
                            <th>نام کتاب</th>
                            <th>نویسنده</th>
                            <th>ناشر</th>
                            <th>ردیف</th>
                            <th>قفسه</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if books %}
                        {% for book in books %}
                        <tr>
                            <td>{{ book.name }}</td>
                            <td>{{ book.author }}</td>
                            <td>{{ book.publisher }}</td>
                            <td>{{ book.location.split(',')[0] }}</td>
                            <td>{{ book.location.split(',')[1] }}</td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <tr>
                            <td colspan="5">کتابی یافت نشد.</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    
{% endblock %}